/* Reset & Base Styles */

:root {
	--primary: #222;
	--primary-light: #333;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

/* Header */
.page-header {
	background-color: var(--primary);
	color: #fff;
	padding: 0.5em 0.75em;
	font-size: 1.25em;
}

.page-content {
	flex-grow: 1;
	overflow-y: auto;
	padding: 1em;
}

.refresh-button {
	color: yellow;
	margin-right: 1em;
}

.refresh-button.disabled {
	color: grey;
}

.app-language {
	border-color: transparent;
	border-radius: 4px;
}

.vote-results {
	margin: 1em 0;
	width: 100%;
}

.vote-results th {
	/* width: 25%; */
}

.vote-results td {
	border-top: 1px solid black;
}

.vote-results th, .vote-results td {
	padding: 8px 4px;
}

.submit-results {
	padding: 1em;
	text-align: center;
}

.avatar {
	width: 3.5em;
	height: 3.5em;
	border-radius: 50%;
	box-sizing: content-box;
}

img.avatar {
	object-fit: cover;
}

div.avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

